<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <mat-card appearance="outlined">
                <mat-card-content>
                    <h5 style="text-align: center;">Formulario: {{ accion }} contacto</h5>
                    <br>
                    <form [formGroup]="myForm" autocomplete="off">
                        <div class="col-lg-12">
                            <mat-form-field appearance="outline" class="example-container" [style.fontSize.px]=16>
                                <mat-label>Nombre completo</mat-label>
                                <input matInput formControlName="nombreCompleto">
                            </mat-form-field>
                            <div *ngIf="myForm.get('nombreCompleto').hasError('required') && myForm.get('nombreCompleto').touched" style="margin-top: -20px;">
                                <span class="mda-form-msg">* Campo <strong>requerido</strong></span>
                            </div>
                            <div *ngIf="myForm.get('nombreCompleto').hasError('maxlength') && myForm.get('nombreCompleto').touched" style="margin-top: -20px;">
                                <span class="mda-form-msg">* El campo debe tener como máximo <strong>25 caracteres</strong></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <mat-form-field appearance="outline" class="example-container" [style.fontSize.px]=16>
                                    <mat-label>Teléfono</mat-label>
                                    <input matInput formControlName="telefono">
                                </mat-form-field>

                                <div *ngIf="myForm.get('telefono').hasError('required') && myForm.get('telefono').touched" style="margin-top: -20px;">
                                    <span class="mda-form-msg">* Campo <strong>requerido</strong></span>
                                </div>
                                <div *ngIf="myForm.get('telefono').hasError('maxlength') || myForm.get('telefono').hasError('minlength') && myForm.get('telefono').touched" style="margin-top: -20px;">
                                    <span class="mda-form-msg">* El campo debe tener <strong>10 caracteres</strong></span>
                                </div>
                            </div>
    
                            <div class="col-lg-6">
                                <mat-form-field appearance="outline" class="example-container" [style.fontSize.px]=16>
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Ex. correo@google.com" formControlName="email">
                                </mat-form-field>

                                <div *ngIf="myForm.get('email').hasError('required') && myForm.get('email').touched" style="margin-top: -20px;">
                                    <span class="mda-form-msg">* Campo <strong>requerido</strong></span>
                                </div>
                                <div *ngIf="myForm.get('email').hasError('email') && myForm.get('email').touched" style="margin-top: -20px;">
                                    <span class="mda-form-msg">Formato de correo <strong>inválido</strong></span>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-lg-12">
                            <mat-form-field appearance="outline" class="example-container" [style.fontSize.px]=16>
                                <mat-label>Dirección</mat-label>
                                <input matInput formControlName="direccion">
                            </mat-form-field>

                            <div *ngIf="myForm.get('direccion').hasError('required') && myForm.get('direccion').touched" style="margin-top: -20px;">
                                <span class="mda-form-msg">* Campo <strong>requerido</strong></span>
                            </div>
                            <div *ngIf="myForm.get('direccion').hasError('maxlength') && myForm.get('direccion').touched" style="margin-top: -20px;">
                                <span class="mda-form-msg">* El campo debe tener como máximo <strong>100 caracteres</strong></span>
                            </div>
                        </div>
        
                        <div class="col-lg-12" style="text-align: center">
                            <button type="button" class="btn btn-success btn-lg float-right" [disabled]="myForm.invalid" (click)="guardarContacto()">Guardar</button>
                            <button type="button" class="btn btn-secondary btn-lg float-right" style="margin-left: 20px;" routerLink="/">Cancelar</button>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>